body {
	background: #f0f0f0;
}

.site-header hgroup {
	background: #fff;
	margin: 0 0 20px;
}

.site-header h1 {
	line-height: 30px;
	margin: 10px 0;
	font-family: "Josefin Sans";
}

.site-header h1 a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
}

.site-header h2 {
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	font-family: "Josefin Sans";
	margin:60px 0;
	font-weight: 400;
	text-transform: uppercase;
	color: #999;
}

#primary #content .post-item {
	background: #fdfff0;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

#primary .thumbnail-container {
	background: #fff;
	margin: 0 0 20px;
}

#primary .thumbnail-container img {
	display: block;
	margin: 0 auto;
}

#searchform {
	padding: 20px 0;
}

#searchform input {
	width: 100%;
}

aside#sidebar li {
	background: #fdfff0;
	padding: 40px;
	margin: 0 0 40px;
	list-style: none;
}

aside#sidebar li h3 {
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	margin: 0 0 20px;
	text-transform: uppercase;
	font-family: "Josefin Sans";
	color: #999;
}