body {
	background: #f0f0f0;
}

.site-header hgroup {
	background: #fff;
	margin: 0 0 20px;
}

.site-header h1 {
	line-height: 24px;
	margin: 20px 0;
	font-family: "Josefin Sans";
}

.site-header h1 a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
}

.site-header h2 {
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	font-family: "Josefin Sans";
	margin: 60px 0;
	font-weight: 400;
	text-transform: uppercase;
	color: #999;
}

#primary #content .post-item {
	background: #fdfff0;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 60px;
}

#primary #content .post-item h2 a {
	text-decoration: none;
}

#primary #content .post-item .thumbnail-container {
	background: #fff;
	margin: 0 0 20px;
}

#primary #content .post-item .thumbnail-container img {
	display: block;
	margin: 0 auto;
}

#primary #content .post-item .meta {
	padding-top: 20px;
	border-top: 1px solid #eee;
}

#primary #content .post-item p.source {
	font-style: italic;
	font-size: 12px;
	color: #999;
	margin: 0;
}

#primary #content .post-item p.tags {
	font-size: 12px;
	color: #666;
	margin: 0 0 5px;
}

#searchform {
	margin: 40px 0;
}

#searchform input {
	width: 100%;
	margin: 0;
}

aside#sidebar li {
	background: #fdfff0;
	padding: 40px;
	margin: 0 0 60px;
	list-style: none;
}

aside#sidebar li h3 {
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	margin: 0 0 20px;
	text-transform: uppercase;
	font-family: "Josefin Sans";
	color: #999;
}

aside#sidebar li .big-button {
	background: #c8ff94;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Josefin Sans";
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #afe678;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}